
/* Main Colors */
.mainColorViolet {
    /* background-color: #eae8f4; */

    background-color: #a197d1;
    
    background-color: #6F63A5;
}
.mainColorGray {
    /* background-color: #ececf6; */

    background-color: #E0E0EA;
}
.mainColorLightBlue {
    /* background-color: #c7deec; */
    
    background-color: #8CC0E1;
}
.mainColorBlack {
    background-color: #313131;
}
.mainColorDarkBlue {
    /* background-color: #b8d2eb; */
    
    background-color: #86B3DC;
}


/* Main Styles that are frequently repeated */
.textBackground {
    background-color: #efefef;
    border-radius: 10px;
    padding: 2px;
}
.subLogoStyle {
    border-radius: 50%;
    width: 200px;

}
.specialityBox {
    display: grid;
    align-items: center;
    margin-bottom: 25px;
    justify-items: center;
}